/********
# This sytle for vidd project 
*********/
body {
    margin:0;
    padding:0;
    font-family: 'Public Sans', sans-serif;
    -webkit-overflow-scrolling: touch;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
}

.clear {
    clear:both;
}

::-moz-focus-inner,
::-moz-focus-inner {
    border: 0;
    padding: 0;
}

:focus{
    outline: 0!important; 
    text-decoration:none!important;
}	

div, body, h1, h2, h3, h5, h6, span, form, input, p, a, nav, header, footer, 
section, aside, article, figure{ 
    margin:0; 
    padding:0; 
}

/******** Loader ********/
#loader {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 99;
    padding: 15px;
}
.circle {
    display: inline-block;
    background-color: #1d1d1b;
    height: 15px;
    width: 15px;
    border-radius: 25px;
    margin: 0 4px;
  }
  
  .innerloader {
    position: absolute;
    width: 100px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  #ball-1{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  #ball-2{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 1.1s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  #ball-3{
    -webkit-animation-name: bounce;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-iteration-count: infinite;
  }
  
  @-webkit-keyframes bounce {
    0% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(23px);
    }
    60% {
      transform: translateY(-25px);
    }
    80%{
      transform: translateY(0);
    }
  }

/*********************
# Login Page Star Here
*********************/

.loginsection {
    height: 100vh;
}

.login-form {
    background: #fff;
    padding:40px 15px;
}

/*
.featured-image:before {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.78);
    content: '';
    height: 100%;
    width: 100%;
}
*/

.featruedcontent {
    padding: 0px 140px 230px;
}

.featruedcontent img {
    margin-bottom: 30px;
}

.featruedcontent h1 {
    font-size: 47px;
    color: #fff;
    font-weight: 300;
}

.featruedcontent h1 span {
    color: #00aaf9;
    text-transform: capitalize;
    font-weight: 600;
}

.formparent {
    position: relative;
    width: 100%;
    max-width: 305px;
    margin: auto;
}

.formparent h5{
    font-size:22px;
    line-height:normal;
    letter-spacing:0;
    font-weight: 400;
}

.formparent p{
    font-size:14px;
    line-height: 24px;
    color:#444444;
    font-weight:400;
    margin-bottom:30px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow : 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.formparent input[type="email"],
.formparent input[type="password"],
.formparent input[type="text"],
.formparent input[type="tell"] {
    width: 100%;
    max-width:304px;
    height:40px;
    border:1px solid #444;
    border-radius: 0;
    background: #fff;
    box-shadow: none;
    outline: none;
    padding-left: 48px;
    font-size: 16px;
    color: #242424;
}

.formparent input::-webkit-input-placeholder { 
    color: #242424;
  }

.formparent input::-moz-placeholder {
    color: #242424;
}

.formparent input:-ms-input-placeholder { 
    color: #242424;
}

.formparent input:-moz-placeholder { 
    color: #242424;
}

.formparent .form-group {
    position: relative;
}

.formparent .form-group > i {
    position: absolute;
    left: 12px;
    top: 10px;
    color: #444;
    font-size: 20px;
}

.formparent .form-check-label a{
    font-size:14px;
    line-height:normal;
    letter-spacing:0;
    text-decoration: none;
    color: #4b4b4b;
    font-weight:600;
    text-transform: capitalize;
}

.formparent button[type="submit"],
.formparent input[type="submit"],
.formparent .restbtnstyle {
    width: 100%;
    max-width: 304px;
    height: 40px;
    border-radius: 0;
    border:0;
    background: #7243c3!important;
    font-size:16px;
    color:#fff;
    font-weight:400;
    line-height: 30px;
}

.logo-login {
    margin: 0 auto 40px;
    width: 100%;
    max-width: 215px;
    display: block;
}

.backtosignin a{
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0;
    text-decoration: none;
    color: #4b4b4b;
    font-weight: 600;
    text-transform: capitalize;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 70px;
    box-shadow: 0 0 1px #505050;
    background: #fff;
}

header .navbar-brand {
    padding: 12px 0;
    margin-left: 85px;
}

header .navbar-brand img {
    width: 100%;
    max-width: 160px;
}

#hamburgericon {
    padding: 15px;
    background: #1d1d1b;
    position: absolute;
    top: 0;
    text-align: center;
    height: 70px;
    width: 70px;
    cursor: pointer;
}

#profile,
#notification {
    padding: 7px 15px 3px;
}

#notificationbtn,
#userprofile {
    padding: 0;
}

#notification:after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 15px;
    background: #da4949;
    top: 12px;
    right: 16px;
}

#profile .profile {
    width: 54px;
    height: 54px;
    background: #873acb;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 2px solid #f7f7f7;
}

#profile .profile img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

header .dropdown-toggle::after {
    vertical-align: 1.255em;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-left: 0.5em solid transparent;
}

#notification {
    padding: 19px 15px;
}

#notificationbtn:after{
    display: none;
}

#notification i {
    font-size: 30px;
    color: #bfbfbf;
}

header .dropdown-menu {
    left: inherit;
    right: 5px;
    background: #fff;
    padding: 0;
    margin: 0;
    border-radius: 0;
}

header .dropdown-menu .dropdown-item {
    padding: 0.45rem 1.5rem;
    border-bottom: 1px solid #a5a5a5;
    background: #eee !important;
    color: #000 !important;
}

header .dropdown-menu .dropdown-item:nth-last-of-type() {
    border-bottom: 0;
}

.mainbodycontent {
    position: relative;
    margin-top:70px;
}

.sidebar_maincontent {
    position: relative;
    width: 100%;
}

.sidebar_maincontent .sidebar {
    width: 100%;
    max-width: 265px;
    float: left;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    background: #1d1d1b;
    /* overflow: auto; */
    padding-bottom: 70px;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

.sidebar_maincontent .maincontent {
    width: calc(100% - 265px);
    margin-left: 265px;
    padding: 15px;
    transform: translateX(0);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

.closemenu .sidebar {
    -webkit-transform: translateX(-265px);
    -moz-transform: translateX(-265px);
    transform: translateX(-265px);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

.closemenu .maincontent {
    width: calc(100%);
    margin-left:0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    transition: 0.4s;
}

.sidebar .createnew {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 35px 15px;
}

.sidebar .createnew button{
    border: 0;
    color: #1d1d1b;
    background: #fff;
    padding: 0 15px;
    font-size: 18px;
    line-height: 42px;
    width: 100%;
}

.sidebar .createnew button i{
    margin-left:10px;
}

.sidebar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    height: calc(100% - 80px);
    overflow: auto;
    padding-bottom: 40px;
}

.sidebar ul li{
    position: relative;
    display: inline-block;
    width: 100%;
}

.sidebar ul li .submenulist {
    background: #5b1a94;
    display: none;
}

.sidebar ul .hassubmenu a {
    padding-right: 50px;
}

.sidebar ul .hassubmenu  .carret{
    position: absolute;
    right: 0;
    font-size: 22px;
    top: 0;
    height: 49px;
    width: 40px;
    text-align: center;
    background: #b55ffd;
    padding: 9px 0;
    cursor: pointer;
    z-index: 9;
}

.sidebar ul .hassubmenu  .carret i{
    margin:0;
    color: #fff;
}

.sidebar ul li a {
    padding: 12px 15px;
    font-size: 16px;
    display: inline-block;
    width: 100%;
    color: #fff;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    position: relative;
}

.sidebar ul li .active {
    background: #eee;
    color: #000;
}

.sidebar ul li .active:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 3px;
    height: 100%;
    background-color: #fff;
}

.sidebar ul li:last-child a {
    border-bottom: 0;
}

.sidebar ul li a i {
    margin-right: 12px;
}

.sidebar ul li .submenulist li a{
    padding-left: 30px;
}

.sidebar ul li .submenulist li:last-child a {
    border-bottom: 1px solid #eee
}

.titlestrip {
    display: block;
    position: relative;
}

.titlestrip h4{
    color: #4b4b4b;
    font-size: 20px;
    font-weight: 700;
    line-height: 54px;
    background: #fbfbfb;
    padding: 0 12px;
}

.app_chatbot_resouces .columnstyle .card{
    padding: 15px;
    border-radius: 0;
}

.app_chatbot_resouces .columnstyle .card:after {
    content: '';
    position: absolute;
    top: 0;
    left: -1px;
    height: 100%;
    width: 5px;
    background: transparent;
}

/*
.app_chatbot_resouces .app .card:after {
    background: #a980cc;
}

.app_chatbot_resouces .chatbot .card:after {
    background: #438cda;
}

.app_chatbot_resouces .resouces .card:after {
    background: #d27d7d;
}
*/

.app_chatbot_resouces .columnstyle .card h4{
    color: #000;
    text-align: right;
    font-size: 30px;
}

.app_chatbot_resouces .columnstyle .card i{
    font-size: 50px;
    color: #fff;
    position: absolute;
    left: 15px;
    top: 12px;
}

.recentproject_list table tr td ,
.recentproject_list table tr th {
    vertical-align: middle;
}

.recentproject_list table tr td a,
.recentproject_list table tr th a{
    text-decoration: none;
    color: #4b4b4b;
}

.recentproject_list table tr td a i {
    margin:0 5px;
}

.recentproject_list tr td .thumbnail p{
display: inline-block;
padding: 14px 0 0 12px;
}

.recentproject_list tr td .thumbnail .img{
    width: 50px;
    height: 50px;
    background: #ccc;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    float: left;
}

.recentproject_list tr td .thumbnail .img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.recentproject_list tr td .status {
    width: 14px;
    height: 14px;
    border-radius: 20px;
    display: inline-block;
    margin-right: 8px;
}

.jurisdictions_map {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    display: none;
}

.jurisdictions_map form .btnstyle {
    border: 0;
    color: #ffffff;
    background: #1d1d1b;
    padding: 0 15px;
    font-size: 18px;
    line-height: 42px;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
    margin: 20px 0 0;
}

.jurisdictions_map iframe{
    width: 100%;
    height: 100%;
}

#mapfilter {
    position: absolute;
    background: rgb(210, 210, 210);
    z-index: 9;
    top: 10px;
    left: 10px;
}

#mapfilter label{
    font-size: 14px;
    color: #000;
    font-weight: 700;
    width: 100%;
}

#mapfilter input{
border: 1px solid #b5b4b4;
height: 30px;
padding: 0 12px;
width: 100%;
}

input#pac-input {
    position: absolute;
    width: 250px;
    line-height: 34px;
    padding: 0 15px;
    font-size: 16px;
    color: #424242;
    left: 133px!important;
    top: 10px!important;
    border: 15px solid rgb(210, 210, 210)!important;
    z-index: 9!important;
}

#map {
    height: 500px;
  }

#mapfilter button{
    background: #1d1d1b;
    border: 0;
    color: #fff;
    font-weight: 600;
    line-height: 33px;
    font-size: 16px;
    padding: 0 14px;
    text-transform: uppercase;
}

.infomessage {
    font-size: 15px;
    font-weight: 500;
    background: #f1e8f9;
    padding: 10px;
}

.infomessage h5 {
    padding: 8px;
    background: #a591b7;
    width: 100%;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 9px;
}

.chooseprofile {
    width: 100%;
    background: #fff;
    border: 2px dashed #ccc;
    padding: 17px 15px 11px;
}

.chooseprofile .profile_pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0 0 1px #abadaf;
}

.chooseprofile .profile_pic img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.chooseprofile .upload-btn-wrapper {
position: relative;
overflow: hidden;
display: inline-block;
}

.chooseprofile .btn {
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 0;
    font-size: 16px;
    font-weight: 600;
    margin-top: 12px;
    min-width: 210px;
}

.chooseprofile .upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.formdesign .form-group label {
    font-size: 14px;
    font-weight: 600;
    color: #424242;
    margin: 0 0 5px;
}

.formdesign .form-group input,
.formdesign .form-group select,
.bootstrap-select > .dropdown-toggle {
    border: 1px solid #a0a0a0;
    border-radius: 0;
    line-height: 40px;
    background: #fff!important;
    color: #424242!important;
    height: 40px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    line-height: 26px;
}

.bootstrap-select  .dropup .dropdown-toggle::after {
    vertical-align: 0.655em;
}

.formdesign .footerbutton button {
    display: inline-block;
    border-radius: 0;
    border: 0;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 15px;
    line-height: 38px;
    min-width: 118px;
    margin: 0 5px;
}

#chatbotfields,
#resoucesfields {
    display: none;
}

.scrolldiv {
    position: relative;
    max-height: 380px;
    overflow: auto;
}

.global_statistics {
position: relative;
}

.global_statistics canvas,
.locationcart {
    height: 400px!important;
}

.small-font-size tr th, .small-font-size tr td {
    font-size: 13px;
    padding: 13px;
}

.locationcart {
    height: 400px!important;
    width: 100%!important;
    max-width: 850px;
    overflow: hidden;
    overflow-x: auto;
}

.progress-lable label{
    margin:0 0 0;
}

.progress-lable .progress {
    height: 30px;
}

.titlestrip button,
.titlestrip .titlebtn {
    border: 0;
    color: #ffffff;
    background: #5d5b5f;
    padding: 0 15px;
    font-size: 18px;
    line-height: 42px;
    position: absolute;
    right: 12px;
    top: 6px;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
}

.breadcrumb-parent .breadcrumb{
    background: #ffffff;
    border-radius: 0;
    border-bottom: 1px solid #eee;
}

.breadcrumb-parent .breadcrumb .breadcrumb-item a {
    color: #5f199c;
    font-size: 16px;
    font-weight: 500;
}

.breadcrumb-parent .breadcrumb .breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-parent .breadcrumb .breadcrumb-item {
    text-transform: capitalize;
}

.addrolecontent {
    padding: 25px 0;
    border: 1px solid #efefef;
    background: #f9f9f9;
}

.addrolecontent .form-group input {
    border: 1px solid #e6e6e6;
}

.addrolecontent h3{
    font-size: 22px;
    line-height: normal;
    color: #424242;
    margin: 0 0 15px;
}

.first_level_dropdown {
    display: none;
    padding: 15px 0;
    overflow: hidden;
}

/* The container */
.permission_list .container_checkbox {
    display: block;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0 0;
    position: absolute;
    top: 12px;
    left: 15px;
    z-index: 9;
  }
  
  /* Hide the browser's default checkbox */
  .permission_list  .container_checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .permission_list  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
  }
  
  /* On mouse-over, add a grey background color */
  .permission_list .container_checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .permission_list .container_checkbox input:checked ~ .checkmark {
    background-color: #5f199c;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .permission_list .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .permission_list .container_checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .permission_list .container_checkbox .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .permission_list {
      margin:0;
      padding:0;
      list-style: none;
  }

.permission_list li:first-child{
    border-top: 1px solid #e6e6e6;
}
.permission_list li{
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    padding-left: 56px;
    cursor: pointer;
}

.permission_list li .content {
    padding: 13px 0;
}

.permission_list li .content > i {
    position: absolute;
    right: 15px;
    top: 14px;
    font-size: 22px;
    color: #444;
}

.first_level_dropdown .sublevellist {
margin:0;
padding:0;
list-style:none;
width: 100%;
}

.first_level_dropdown .sublevellist li {
    padding: 0 15px 0 0;
    width: 25%;
    float: left;
    border: 0;
    position: relative;
    margin: 0 0 15px;
}

.first_level_dropdown .sublevellist li .container_checkbox{
    position: relative;
    top: 0;
    left: 0;
}

.filters-input input, .filters-input select{ 
    margin-right: 10px;
    padding: 0px 15px;
    border: 1px solid #a0a0a0;
    border-radius: 0;
    line-height: 40px;
    background: #fff!important;
    color: #424242!important;
    height: 40px;
}

.titlestrip .titlebtn2 {
    border: 0;
    color: #ffffff;
    background: #5d5b5f;
    padding: 0 15px;
    font-size: 18px;
    line-height: 42px;
    position: absolute;
    right: 225px;
    top: 6px;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    text-decoration: none;
}



/******************* Media Query Start Here *********************/
@media (min-width: 1620px) {
    .logincontainer {
        max-width: 100%;
    }
}

@media (max-width:1199px) {
    .sidebar_maincontent .sidebar {
        z-index: 9;
        -webkit-transform: translateX(-265px);
        -moz-transform: translateX(-265px);
        transform: translateX(-265px);
    }
    .sidebar_maincontent .maincontent {
        width: calc(100%);
        margin-left: 0;
    }
    .closemenu .sidebar {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    .closemenu .sidebar_maincontent:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(135, 58, 203, 0.25);
    }
}

@media (max-width:992px) {
    .sidebar_maincontent .sidebar {
        top:65px;
    }
    header {
        height: 65px;
    }
    #hamburgericon {
        padding: 12px 10px;
        height: 65px;
        width: 60px;
    }
    header .navbar-brand {
        margin-left: 0;
        position: absolute;
        top: 5px;
        left: 70px;
    }
    header .navbar-brand img {
        max-width: 120px;
    }
    #profile, #notification {
        padding: 7px 15px 3px;
    }
    #notification {
        position: absolute;
        right: 110px;
    }
    #notificationbtn {
        right: 0;
        top: 18px;
        position: absolute;
    }
    #userprofile {
        right: 15px;
        top: 7px;
        position: absolute;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
        top: 65px;
        right: 0;
    }
    #profile .profile {
        width: 48px;
        height: 48px;
    }
    header .dropdown-toggle::after {
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-left: 0.4em solid transparent;
    }
    #notification:after {
        top: 15px;
        right: -4px;
    }
    .app_chatbot_resouces .columnstyle .card h4 {
        font-size: 24px;
    }
    .app_chatbot_resouces .columnstyle .card i {
        font-size: 38px;
        top: 15px;
    }
    .app_chatbot_resouces .columnstyle {
        width: 100%;
        flex: initial;
        margin: 0 0 15px;
    }
    .app_chatbot_resouces .columnstyle:last-of-type {
        margin: 0 0 0;
    }
}

@media (max-width:991px) {
    .first_level_dropdown .sublevellist li {
        width: 50%;
    }
}

@media (max-width:767px) {
    .featruedcontent {
        padding: 50px 43px 60px;
        text-align: center;
    }
    .featruedcontent img {
        margin-bottom: auto;
        margin: 0 auto 30px;
        display: block;
        width: 150px;
    }
    .featruedcontent h1 {
        font-size: 36px;
    }
    .recentproject_list {
        overflow: hidden;
        overflow-x: auto;
    }
    .recentproject_list table {
        width: 710px;
    }
    .titlestrip button{
        margin-top:10px;
        position: static;
        right: inherit;
        left:0;
    }
    .first_level_dropdown .sublevellist li {
        width: 100%;
    }
}


.col.columnstyle.app .card, .col.columnstyle.chatbot .card, .col.columnstyle.resouces .card {background: #fff !important; color: #000; border: solid 1px #a2a2a2; border-radius: 4px;}
.col.columnstyle.app .card i:before, .col.columnstyle.chatbot .card i:before, .col.columnstyle.resouces .card i:before {color: #000;}
.col.columnstyle a:hover {text-decoration: none;}


.navbar.navbar-expand-lg.navbar-light.p-0 a.navbar-brand {background: #1d1d1b; padding: 17px 18px; margin-left: 69px; padding-top: 5px; padding-bottom: 0px;}


.formparent button[type="submit"], .formparent input[type="submit"], .formparent .restbtnstyle {    background: #1d1d1b !important; border-radius: 4px;}
.btn-primary {background-color: #1d1d1b; border-color: #1d1d1b;}
.btn-primary:hover {background-color: #575757;}
.page-link {color: #1d1d1b;}
.page-item.active .page-link {background-color: #1d1d1b; border-color: #1D1D19;}